@use './base/reset';
@use './base/variables' as *;
@use './base/mixins' as *;
@import "../icons/style.css";

.container {
  max-width: 1080px;
  width: 100%;
  padding: 10px;
  margin: 0 auto;
}

body {
  font-weight: 400;
  font-size: 18px;
  font-family: $primary-font;
  background-color: $wit;
}

// Header
.header {
  &__image {
    background-image: url("../assets/images/background.jpg");
    background-color: rgb(194, 190, 190);
    background-position: center;
    background-size: cover;
    position: relative;
    height: 1025px;
    &__text {
      text-align: center;
      position: absolute;
      top: 50%; // om de text in het midden te plaatsen
      left: 50%; // om de text in het midden te plaatsen
      transform: translate(-50%, -50%); // om de text in het midden te plaatsen
      color: white;
      width: 580px;
      h2 {
        font-size: 36px;
        font-weight: 400;
      }
      h1 {
        font-size: 52px;
        font-weight: 900;
        margin: 15px 0px 20px 0px;
      }
      p {
        font-family: $second-font;
        font-weight: 300;
        margin-bottom: 86px;
      }
      .button {
        color: $wit;
        border-bottom: 2px solid $donkerbruin;
        padding: 15px 50px;
        border-radius: 3px;
        background-color: $bruin;
      }
    }
    // Nav
    &__nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: $wit;
      margin-top: 40px;
      .icon {
        fill: $wit;
        width: 55px;
        height: 55px;
        //font-size: 55px; werkt niet
        margin-right: 25px;
      }
      .logo {
        display: flex;
        align-items: center;
        p {
          font-size: 34px;
          a {
            color: $wit;
          }
        }
      }
      .navigatie {
        display: flex;
        align-items: center;
        li {
          a {
            color: $wit;
            padding: 6px;
            margin: 0 17px;
            font-size: 14px;
          }
        }
        .icon {
          fill: $wit;
          width: 24px;
          height: 24px;
          //font-size: 55px; werkt niet
          margin-left: 30px;
        }
      }
    }
  }
  .icon {
    &-arrow-left {
      .icon {
        width: 41px;
        fill: $lichtgrijs;
      }
      position: absolute;
      left: 150px;
      top: 50%;
    }
    &-arrow-right {
      .icon {
        width: 41px;
        fill: $lichtgrijs;
      }
      position: absolute;
      right: 150px;
      top: 50%;
    }
  }
}

// Main
.content {
  padding: 80px 0;
  @include make-col(4, 30px);
  text-align: center;
  .icon {
    fill: $donkerbruin;
    width: 48px;
    height: 48px;
    //font-size: 48px; dit wou niet werken
  }
  h3 {
    font-weight: 700;
    font-size: 22px;
    color: $donkerbruin;
    padding: 30px 0px 25px 0px;
  }
  p {
    font-family: $second-font;
    font-weight: 300;
    font-size: 14px;
    color: $lichtgrijs;
    padding-bottom: 25px;
  }
  hr {
    width: 70px;
    border: 1px solid $bruin;
  }
}
