@use './base/reset';
@use './base/variables' as *;
@use './base/mixins' as *;
@import "../icons/style.css";

.container {
  max-width: 1080px;
  width: 100%;
  padding: 10px;
  margin: 0 auto;
}

body {
  font-weight: 400;
  font-size: 18px;
  font-family: $primary-font;
  background-color: $wit;
}

.icon-menu {
  display: none;
}

// Header
.header {
  &__image {
    background-image: url("../assets/images/background.jpg");
    background-color: rgb(194, 190, 190);
    background-position: center;
    background-size: cover;
    position: relative;
    height: 1025px;
    &__text {
      text-align: center;
      position: absolute;
      top: 50%; // om de text in het midden te plaatsen
      left: 50%; // om de text in het midden te plaatsen
      transform: translate(-50%, -50%); // om de text in het midden te plaatsen
      color: white;
      max-width: 580px;
      h2 {
        font-size: 36px;
        font-weight: 400;
      }
      h1 {
        font-size: 52px;
        font-weight: 900;
        margin: 15px 0px 20px 0px;
      }
      p {
        font-family: $second-font;
        font-weight: 300;
        margin-bottom: 86px;
      }
      .button {
        color: $wit;
        border-bottom: 2px solid $donkerbruin;
        padding: 15px 50px;
        border-radius: 3px;
        background-color: $bruin;
        transition: all 300ms ease-in-out;
        &:hover {
          border-bottom: 2px solid $bruin;
          background-color: $donkerbruin;
        }
      }
    }
    // Nav
    &__nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: $wit;
      margin-top: 40px;
      .icon {
        fill: $wit;
        width: 55px;
        height: 55px;
        //font-size: 55px; werkt niet
        margin-right: 25px;
      }
      .logo {
        display: flex;
        align-items: center;
        svg {
          transition: all 300ms ease-in-out;
        }
        p {
          font-size: 34px;

          a {
            color: $wit;
            transition: all 300ms ease-in-out;
          }
        }
        &:hover {
          a {
            color: $bruin;
          }
          svg {
            fill: $bruin;
          }
        }
      }
      .navigatie {
        display: flex;
        align-items: center;
        margin-right: -210px;
        &__item {
          a {
            color: $wit;
            padding: 6px;
            margin: 0 17px;
            font-size: 14px;
            transition: all 300ms ease-in-out;
          }
          &--active,
          &:hover {
            a {
              color: $bruin;
            }
          }
          &:nth-of-type(7) {
            margin-right: 30px;
          }
        }
        .icon {
          fill: $wit;
          width: 24px;
          height: 24px;
          //font-size: 55px; werkt niet
          transition: all 300ms ease-in-out;
          &:hover {
            svg {
              fill: $bruin;
            }
          }
        }
      }
    }
  }
  .dots {
    display: flex;
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%); // om de text in het midden te plaatsen
    .dot {
      display: block;
      margin: 0 0.3em;
      width: 12px;
      height: 12px;
      background: $lichtgrijs;
      border-radius: 50%;
      transition: all 300ms ease-in-out;
      &--active,
      &:hover {
        box-shadow: 0px 0px 0px 3px rgba($bruin, 1);
        background: none;
      }
    }
  }
  .icon {
    &-arrow-left {
      .icon {
        width: 41px;
        fill: $lichtgrijs;
      }
      position: absolute;
      left: 150px;
      top: 50%;
    }
    &-arrow-right {
      .icon {
        width: 41px;
        fill: $lichtgrijs;
      }
      position: absolute;
      right: 150px;
      top: 50%;
    }
  }
}

// Main
.content {
  padding: 80px 0;
  @include make-col(4, 30px);
  text-align: center;

  .icon {
    fill: $donkerbruin;
    width: 48px;
    height: 48px;
    //font-size: 48px; dit wou niet werken
    transition: all 300ms ease-in-out;
  }
  h3 {
    font-weight: 700;
    font-size: 22px;
    color: $donkerbruin;
    padding: 30px 0px 25px 0px;
    transition: all 300ms ease-in-out;
  }
  p {
    font-family: $second-font;
    font-weight: 300;
    font-size: 14px;
    color: $lichtgrijs;
    padding-bottom: 25px;
  }
  hr {
    width: 70px;
    border: 1px solid $bruin;
    transition: all 300ms ease-in-out;
  }
  &__development {
    .icon {
      fill: $bruin;
    }
    h3 {
      color: $bruin;
    }
    hr {
      border: 2px solid rgba($bruin, $alpha: 0.5);
    }
  }
  &__design:hover,
  &__development:hover,
  &__customization:hover,
  &__marketing:hover {
    .icon {
      fill: $bruin;
    }
    h3 {
      color: $bruin;
    }
    hr {
      border: 2px solid rgba($bruin, $alpha: 0.5);
    }
  }
}
@media screen and (max-width: 1090px) {
  .header {
    &__image {
      &__nav {
        .navigatie {
          display: none;
        }
        .icon {
          margin: 0;
        }
        .icon-menu {
          display: block;
          width: 30px;
        }
      }
      &__text {
        h2 {
          font-size: 24px;
        }
        h1 {
          font-size: 36px;
        }
        p {
          font-size: 16px;
        }
        .button {
          padding: 10px 30px;
        }
      }
    }
    .icon {
      &-arrow-left {
        display: none;
      }
      &-arrow-right {
        display: none;
      }
    }
  }
  .content {
    @include make-col(3, 20px);
    padding: 80px 15px;
  }
}
@media screen and (max-width: 750px) {
  .content {
    @include make-col(2, 20px);
  }
}

@media screen and (max-width: 450px) {
  .content {
    @include make-col(1, 20px);
    padding: 80px 7px 20px 7px;
  }
  .header {
    .dots {
      display: none;
    }
  }
}
